.Results-button-home {
    display: block;
    padding: 6px 8px;
    width: 90px;
    text-align: center;
    border: 1px solid grey;
    color: grey;
    border-radius: 4px;
    float: right;
}
.Results-button-home:hover {
    text-decoration: none;
    color: black;
    border-color: black;
    background-color: #f3f3f3;
}
.Results-button-try {
    float: left;
}
.Results-table {
    text-align: center;
}
.Results-table thead th {
    text-align: center;
}